{% extends 'fuel/base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
    <div id="root">
        <h1>Add new {{ message }}</h1>
        <div class="form">
            <form method="POST">
                {% csrf_token %}
                {% for el in form %}
                    {{ el|as_crispy_field }}
                {% endfor %}
                <button class="form__button" type="submit">
                    Send
                </button>
            </form>
        </div>
        <div id="messages">

        </div>
    </div>
{% endblock %}