{% extends 'fuel/base.html' %}
{% load static %}

{% block content %}
    <div id="root">
        <h1>Add new {{ message }}</h1>
        <div class="form">
            <form class="" action="" method="POST">
                {% csrf_token %}
                <label for="fuel_name">Choose a fuel_name:</label>
                  <select class="form__input" id="fuel_name" name="fuel_name">
                      {% for el in fuel_choices %}
                          <option value={{ el.0 }}>{{ el.1 }}</option>
                      {% endfor %}
                  </select>
                <label for="fuel_operator">Choose a fuel operator:</label>
                      <select class="form__input" id="fuel_operator" name="fuel_operator">
                          {% for el in fuel_operator_choices %}
                              <option value={{ el.0 }}>{{ el.1 }}</option>
                          {% endfor %}
                      </select>
                <label for="region">Choose a region:</label>
                      <select class="form__input" id="region" name="region">
                          {% for el in region_choices %}
                              <option value={{ el.0 }}>{{ el.1 }}</option>
                          {% endfor %}
                      </select>
                <label for="date">Choose a date:</label>
                <input id="date" class="form__input" type="date"
                       name="date" />
                <label for="price">Choose a price:</label>
                <input id="price" class="form__input" type="text"
                       name="price" placeholder="Enter price ..."/>
                <button class="form__button" type="submit">
                    <div class="" onclick="sendMessage()">
                        Send
                    </div>
                </button>

            </form>
        </div>
        <div id="messages">

        </div>
    </div>
{% endblock %}