{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href={% static "fuel/css/style.css" %} rel="stylesheet" />
</head>
<body>
<a href={% url 'start_page' %}>To the maine page</a>
{% if user.is_superuser %}
   <div>
    <a href={% url 'logout' %}>Logout</a>
    <h1>Add new object to database</h1>
       <ul>
          <li><a href={% url 'add_data' form_obj='region' %}><button onclick="">Add region</button></a></li>
          <li><a href={% url 'add_data' form_obj='fuel' %}><button onclick="">Add fuel</button></a></li>
          <li><a href={% url 'add_data' form_obj='fuel_operator' %}><button onclick="">Add fuel operator</button></a></li>
          <li><a href={% url 'add_fuel_price' %}><button onclick="">Add fuel price for the fuel</button></a></li>
           <li><a href={% url 'update_data' %}><button onclick="">Update data now</button></a></li>
        </ul>
    </div>
{% else %}
    <a href={% url 'login' %}>Login</a>
{% endif %}
{% block content %}

{% endblock %}
</body>
<script type="application/javascript">
    const sendMessage = () => {
        alert('We send your data to the server');
    }
</script>
</html>
