{% extends 'fuel/base.html' %}
{% load static %}

{% block content %}

    <div id="root">
        <h1>Get data from API</h1>
        <div class="form">
            <form class="" action="" method="POST">
                {% csrf_token %}
                <label for="type_of_fuel">Choose type of the fuel:</label>
                      <select class="form__input" id="type_of_fuel" name="type_of_fuel">
                          {% for el in fuel_choices %}
                              <option value={{ el.0 }}>{{ el.1 }} </option>
                          {% endfor %}
                      </select>
                <label for="region">Choose a region:</label>
                      <select class="form__input" id="region" name="region">
                          {% for el in region_choices %}
                              <option value={{ el.0 }}>{{ el.1 }}</option>
                          {% endfor %}
                      </select>
                <label for="fuel_operator">Choose a fuel operator:</label>
                      <select class="form__input" id="region" name="fuel_operator">
                          {% for el in fuel_operator_choices %}
                              <option value={{ el.0 }}>{{ el.1 }}</option>
                          {% endfor %}
                      </select>
                <button class="form__button" type="submit">
                    <div class="" onclick="sendMessage()">
                        Send
                    </div>
                </button>
            </form>


            <section id="geo">
               <h3>How to make an API call </h3>
               <p>API call:</p>
               <div class="api">
                  <code>http://host/fuel/--region--or--fuel_operator--/--name region--or--name operator--</code>
               </div>
               <div class="info-board">
                  <p>Parameter --region--. Here you need to specify the search region. The region is written in Ukraine.
                  You can check the spelling on the website form for correct spelling.</p>
                   <p>This URL will turn you a JSON file with fuel prices in the area.</p>
                   <p>Additional query parameter --fuel-- used to filter by fuel type</p>
                  <p>For example:</p>
                  <code>http://127.0.0.1:8000/fuel/region/Сумська</code>
                   <p>Get the price of fuel in Sumy region</p>
                   <code>http://127.0.0.1:8000/fuel/region/Сумська?fuel=A95</code>
                    <p>Get the price of fuel in Sumy region only for A95 fuel</p>
               </div>
                <h3>How to get price history</h3>
                <div class="api">
                  <code>http://host/fuel/--region--or--fuel_operator--/--name region--or--name operator--</code>
               </div>
            </section>


        <div id="messages">
        </div>
    </div>

{% endblock %}